* {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.nav {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: visible;
}
.nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  right: 5%;
}
.nav ul .nav-box {
  position: absolute;
  bottom: 0;
  left: 0;
  /* 如果导航栏就六个导航，那么每个导航的宽度都是整个导航
            的六分之一 */
  width: calc((100% / 6) * 1);
  height: 15px;
  border-radius: 2px;
  transition: 0.5s;
}
.nav ul li {
  width: 100%;
  overflow: visible;
  text-align: center;
}
.nav ul li a {
  color: rgb(70, 100, 180);
  font-size: 1.5em;
  display: block;
  width: 100%;
  height: 70px;
  line-height: 70px;
}
.nav ul li:nth-child(1):hover ~ .nav-box {
  left: calc(100% / 6 * 0);
  background-color: rgb(250, 190, 250);
}
.nav ul li:nth-child(2):hover ~ .nav-box {
  left: calc(100% / 6 * 1);
  background-color: red;
}
.nav ul li:nth-child(3):hover ~ .nav-box {
  left: calc(100% / 6 * 2);
  background-color: #d18df8;
}
.nav ul li:nth-child(4):hover ~ .nav-box {
  left: calc(100% / 6 * 3);
  background-color: #ffb1b1;
}
.nav ul li:nth-child(5):hover ~ .nav-box {
  left: calc(100% / 6 * 4);
  background-color: #8da1f8;
}
.nav ul li:nth-child(6):hover ~ .nav-box {
  left: calc(100% / 6 * 5);
  background-color: #7df88e;
}
/* .nav ul li:nth-child(1):hover {
  font-weight: 900;
  font-size: larger;
} */
.nav ul li:nth-child(2):hover {
  font-weight: 900;
  font-size: larger;
}
.nav ul li:nth-child(3):hover {
  font-weight: 900;
  font-size: larger;
}
.nav ul li:nth-child(4):hover {
  font-weight: 900;
  font-size: larger;
}
.nav ul li:nth-child(5):hover {
  font-weight: 900;
  font-size: larger;
}
.nav ul li:nth-child(6):hover {
  font-weight: 900;
  font-size: larger;
}

#opa {
  display: flex;
  color: rgb(70, 100, 180);
  font-size: 1.5em;
  display: block;
  width: 100%;
  height: 70px;
  line-height: 70px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  background: rgb(136, 204, 61);
  background: linear-gradient(
    110deg,
    rgba(136, 204, 61, 1) 0%,
    rgba(72, 197, 189, 1) 50%,
    rgba(136, 204, 61, 1) 100%
  );
}
